@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global Styles */
:root {
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: #666;
}

/* Utilities */
.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 2rem 1rem;
}

/* Text Styles*/
.text-center {
  text-align: center;
}

/* Margin */
.my-1 {
  margin: 1rem 0;
}
